name: Example Credential Scan
on:
  workflow_dispatch:
permissions:
  contents: read
  actions: read
  packages: read
jobs:
  run-trufflehog-scan:
    uses: ./.github/workflows/run-credential-searcher.yaml
    with:
      exclude_git: true
